<html>
    <head>
        <title> Blog Django Girls </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>
        
        <div>
            <p>publicado 25.02.2024, 16:03</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p> ashdfjashdjfagsdjkfhasjdhgf ahsfhajsdhf haisfjkasgdfj ihasjdhgfkjasgdfjkhsgdf hahksdgfjasdgf</p>
        </div>

        <div>
            <p> publicado 25.02.2024, 16:05</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p> O termo 'NUL' não é reconhecido como nome de cmdlet, função, arquivo de script ou programa operável. Verifique a grafia do nome ou, se um caminho tiver sido incluído, veja se o caminho está correto e tente novamente.</p>
        </div>
                
    </body>
</html>
